# Join our Results

### 1. Loading Libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### 2. Loading Files

In [16]:
sarima = pd.read_csv('../data/CSV/SarimaForecast_allDistricts_Tableau.csv',index_col=0)
prophet = pd.read_csv('../data/CSV/ProphetForecast_allDistricts_Tableau.csv',index_col=0)
# keras

In [17]:
sarima.head()

             values district         type   model  DISTRICT_
2006-01-31  19359.0     city  Time Series  sarima          0
2006-02-28  15894.0     city  Time Series  sarima          0
2006-03-31  18627.0     city  Time Series  sarima          0
2006-04-30  18940.0     city  Time Series  sarima          0
2006-05-31  20041.0     city  Time Series  sarima          0

In [18]:
prophet.head()

             values district         type    model  DISTRICT_
ds
2006-01-31  19359.0     city  Time Series  prophet          0
2006-02-28  15894.0     city  Time Series  prophet          0
2006-03-31  18627.0     city  Time Series  prophet          0
2006-04-30  18940.0     city  Time Series  prophet          0
2006-05-31  20041.0     city  Time Series  prophet          0

### 3. Append DataFrames

In [19]:
models = sarima.append(prophet)

In [20]:
models.head()

             values district         type   model  DISTRICT_
2006-01-31  19359.0     city  Time Series  sarima          0
2006-02-28  15894.0     city  Time Series  sarima          0
2006-03-31  18627.0     city  Time Series  sarima          0
2006-04-30  18940.0     city  Time Series  sarima          0
2006-05-31  20041.0     city  Time Series  sarima          0

### 4. Save File

In [23]:
models.to_csv('../data/CSV/models_allDistricts_Tableau.csv')